@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Tauri&display=swap");

// colours
$main-background-color: black;
$main-background-color-light: rgb(220, 182, 231);
$main-writing-color: white;
$calculator-screen-color: rgb(0, 71, 0);
$operation-button-background-color: orange;
$operation-button-font-color: black;
$general-button-color: rgb(53, 50, 50);
$dark-purple-writing: rgb(135, 0, 161);

//fonts
$logo-font: "Dancing Script", sans-serif;
$main-font: "Tauri", Arial, Helvetica, sans-serif;
