@use "./SCSS_files/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: $main-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  padding: 10px;

  &--light {
    background-color: $main-background-color-light;
  }
}

.screen {
  width: 95%;
  max-width: 1100px;
  min-height: 40px;
  height: 13vh;
  background-color: $calculator-screen-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.5vh;
  word-wrap: break-word;
  box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);

  &--light {
    background-color: $calculator-screen-color-light;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  .screen__output-header {
    color: $main-writing-color;
    font-size: min(5vh, 6vw, 40px);
    height: fit-content;
    text-wrap: wrap;
    word-wrap: break-word;
    width: 90%;

    &--light {
      color: $main-writing-color-light;
    }
  }
}

.buttons-and-shapes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;

  .header-shape1 {
    display: none;
  }

  .header-shape2 {
    display: none;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "clr backspace ran divide" "seven eight nine mult" "four five six minus" "one two three plus" "nought squared sqrt plusMinus" "equals equals equals equals";
    justify-items: center;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    gap: 10px;

    .button-container__button {
      min-width: 60px;
      width: 100%;
      max-width: 100%;
      min-height: 55px;
      height: 9vh;
      max-height: 100px;
      background-color: $general-button-color;
      color: $main-writing-color;
      font-size: 2rem;
      font-weight: bold;
      border-radius: calc(12vw);
      border: 2px solid white;
      font-family: $main-font;
      box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);

      &--light {
        background-color: $general-button-color-light;
        color: rgb(135, 0, 161);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
      }
      &--operation {
        background-color: $operation-button-background-color;
        color: $operation-button-font-color;
      }
    }

    #button-container__button--plus {
      grid-area: plus;
    }

    #button-container__button--ran {
      grid-area: ran;
      font-size: 3.5vw;
    }

    #button-container__button--minus {
      grid-area: minus;
    }

    #button-container__button--multiply {
      grid-area: mult;
    }

    #button-container__button--divide {
      grid-area: divide;
    }

    #button-container__button--0 {
      grid-area: nought;
    }

    #button-container__button--1 {
      grid-area: one;
    }

    #button-container__button--2 {
      grid-area: two;
    }

    #button-container__button--3 {
      grid-area: three;
    }

    #button-container__button--4 {
      grid-area: four;
    }

    #button-container__button--5 {
      grid-area: five;
    }

    #button-container__button--6 {
      grid-area: six;
    }

    #button-container__button--7 {
      grid-area: seven;
    }

    #button-container__button--8 {
      grid-area: eight;
    }

    #button-container__button--9 {
      grid-area: nine;
    }

    #button-container__button--plusMinus {
      grid-area: plusMinus;
    }

    #button-container__button--clear {
      grid-area: clr;
    }

    #button-container__button--equals {
      grid-area: equals;
      border-radius: 5px;
      font-size: 2rem;
    }

    #button-container__button--squared {
      grid-area: squared;
    }

    #button-container__button--sqrt {
      grid-area: sqrt;
    }

    #button-container__button--backspace {
      grid-area: backspace;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;

  .footer__title {
    color: $main-writing-color;
    font-family: $logo-font;
    font-size: min(10vw, 40px);

    &--light {
      color: $main-writing-color-light;
    }
  }

  .footer__light-mode-button {
    min-width: 90px;
    width: 30%;
    max-width: 30%;
    background-color: $general-button-color;
    color: $main-writing-color;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 2px solid white;
    font-family: $main-font;
    box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);

    &--light {
      background-color: $general-button-color-light;
      color: $main-writing-color-light;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: 768px) {
  .buttons-and-shapes {
    .side-shape {
      display: flex;
      border-top: 200px solid transparent;
      margin-top: 20px;
      margin-bottom: 20px;

      &--light {
        background-color: $sidebar-color-light;
        border-color: $main-background-color-light;
      }
    }
    .side-shape--1 {
      border-left: min(calc(3 * (100vw - 800px) / 8), calc(3 * (200px) / 8))
        solid $sidebar-color;
      margin-right: min(calc((100vw - 800px) / 8), calc((200px) / 8));

      &--light {
        border-left: min(calc(3 * (200px) / 8), calc(3 * (100vw - 800px) / 8))
          solid $sidebar-color-light;
      }
    }

    .side-shape--2 {
      border-right: min(calc(3 * (200px) / 8), calc(3 * (100vw - 800px) / 8))
        solid $sidebar-color;
      margin-left: min(calc((100vw - 800px) / 8), calc((200px) / 8));
      &--light {
        border-right: min(calc(3 * (200px) / 8), calc(3 * (100vw - 800px) / 8))
          solid $sidebar-color-light;
      }
    }

    .button-container {
      max-width: 800px;

      .button-container__button {
        width: 100%;
        max-width: 100%;
        font-size: 2rem;
      }
      #button-container__button--ran {
        font-size: 1.5rem;
      }

      #button-container__button--equals {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .body {
    background-image: url("https://llobe.com/wp-content/uploads/2015/02/desk-background-images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    &--light {
      background-image: url("https://media.istockphoto.com/id/583726578/photo/wood-desk-plank-to-use-as-background-or-texture.jpg?s=612x612&w=0&k=20&c=nZuqX58HAgvD5UkumW_z0xfjeKu-hWncgQbstb4k35A=");
    }
  }

  .main {
    height: 95vh;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    border: 2px solid rgb(97, 97, 97);

    &--light {
      box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.2);
      border: 2px solid rgb(145, 145, 145);
    }
  }

  .buttons-and-shapes {
    .side-shape--1 {
      border-left: calc(3 * (200px) / 8) solid $sidebar-color;
      margin-right: calc((200px) / 8);

      &--light {
        border-left: calc(3 * (200px) / 8) solid $sidebar-color-light;
      }
    }

    .side-shape--2 {
      border-right: calc(3 * (200px) / 8) solid $sidebar-color;
      margin-left: calc((200px) / 8);
      &--light {
        border-right: calc(3 * (200px) / 8) solid $sidebar-color-light;
      }
    }

    .button-container {
      max-width: 800px;

      .button-container__button {
        width: 100%;
        max-width: 100%;
        font-size: 2rem;
      }
      #button-container__button--ran {
        font-size: 1.5rem;
      }

      #button-container__button--equals {
        font-size: 2.5rem;
      }
    }
  }
}
