@use "./SCSS_files/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
}

.screen {
  width: 90%;
  height: 10vh;
  background-color: $calculator-screen-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 2.5vh;

  .screen__output-header {
    color: $main-writing-color;
    font-size: 2r em;
  }
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "clr backspace ran divide" "seven eight nine mult" "four five six minus" "one two three plus" "nought squared sqrt plusMinus" "equals equals equals equals";
  justify-items: center;
  width: 90%;
  height: fit-content;
  margin: 20px auto;
  gap: 10px;

  .button-container__button {
    min-width: 60px;
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    height: 12vw;
    max-height: 80px;
    background-color: $general-button-color;
    color: $main-writing-color;
    font-size: 2rem;
    font-weight: bold;
    border-radius: calc(12vw);
    border: 2px solid white;
    font-family: $main-font;

    &--operation {
      background-color: $operation-button-background-color;
      color: $operation-button-font-color;
    }

    &--number {
    }

    &--other {
    }
  }

  #button-container__button--plus {
    grid-area: plus;
  }

  #button-container__button--ran {
    grid-area: ran;
    font-size: 3vw;
  }

  #button-container__button--minus {
    grid-area: minus;
  }

  #button-container__button--multiply {
    grid-area: mult;
  }

  #button-container__button--divide {
    grid-area: divide;
  }

  #button-container__button--0 {
    grid-area: nought;
  }

  #button-container__button--1 {
    grid-area: one;
  }

  #button-container__button--2 {
    grid-area: two;
  }

  #button-container__button--3 {
    grid-area: three;
  }

  #button-container__button--4 {
    grid-area: four;
  }

  #button-container__button--5 {
    grid-area: five;
  }

  #button-container__button--6 {
    grid-area: six;
  }

  #button-container__button--7 {
    grid-area: seven;
  }

  #button-container__button--8 {
    grid-area: eight;
  }

  #button-container__button--9 {
    grid-area: nine;
  }

  #button-container__button--plusMinus {
    grid-area: plusMinus;
  }

  #button-container__button--clear {
    grid-area: clr;
  }

  #button-container__button--equals {
    grid-area: equals;
    border-radius: 5px;
    font-size: 2rem;
  }

  #button-container__button--squared {
    grid-area: squared;
  }

  #button-container__button--sqrt {
    grid-area: sqrt;
  }

  #button-container__button--backspace {
    grid-area: backspace;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;

  .footer__title {
    color: $main-writing-color;
    font-family: $logo-font;
    font-size: min(10vw, 40px);
  }
}

@media screen and (min-width: 768px) {
  .button-container {
    max-width: 800px;

    .button-container__button {
      width: 100%;
      max-width: 100%;
      font-size: 2rem;
    }
    #button-container__button--ran {
      font-size: 1.5rem;
    }

    #button-container__button--equals {
      font-size: 2.5rem;
    }
  }
}
