@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Tauri&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tauri", Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
}
.main--light {
  background-color: rgb(220, 182, 231);
}

.screen {
  width: 95%;
  max-width: 1100px;
  height: 10vh;
  background-color: rgb(0, 71, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.5vh;
  word-wrap: break-word;
  box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);
}
.screen--light {
  background-color: rgb(188, 255, 186);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.screen .screen__output-header {
  color: white;
  font-size: min(8vw, 40px);
  height: -moz-fit-content;
  height: fit-content;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 90%;
}
.screen .screen__output-header--light {
  color: rgb(135, 0, 161);
}

.buttons-and-shapes {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.buttons-and-shapes .header-shape1 {
  display: none;
}
.buttons-and-shapes .header-shape2 {
  display: none;
}
.buttons-and-shapes .button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "clr backspace ran divide" "seven eight nine mult" "four five six minus" "one two three plus" "nought squared sqrt plusMinus" "equals equals equals equals";
  justify-items: center;
  width: 90%;
  min-height: 500px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
  gap: 10px;
}
.buttons-and-shapes .button-container .button-container__button {
  min-width: 60px;
  width: 100%;
  max-width: 100%;
  min-height: 70px;
  height: 12vw;
  max-height: 80px;
  background-color: rgb(53, 50, 50);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 12vw;
  border: 2px solid white;
  font-family: "Tauri", Arial, Helvetica, sans-serif;
  box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);
}
.buttons-and-shapes .button-container .button-container__button--light {
  background-color: rgb(253, 202, 255);
  color: rgb(135, 0, 161);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.buttons-and-shapes .button-container .button-container__button--operation {
  background-color: orange;
  color: black;
}
.buttons-and-shapes .button-container #button-container__button--plus {
  grid-area: plus;
}
.buttons-and-shapes .button-container #button-container__button--ran {
  grid-area: ran;
  font-size: 3.5vw;
}
.buttons-and-shapes .button-container #button-container__button--minus {
  grid-area: minus;
}
.buttons-and-shapes .button-container #button-container__button--multiply {
  grid-area: mult;
}
.buttons-and-shapes .button-container #button-container__button--divide {
  grid-area: divide;
}
.buttons-and-shapes .button-container #button-container__button--0 {
  grid-area: nought;
}
.buttons-and-shapes .button-container #button-container__button--1 {
  grid-area: one;
}
.buttons-and-shapes .button-container #button-container__button--2 {
  grid-area: two;
}
.buttons-and-shapes .button-container #button-container__button--3 {
  grid-area: three;
}
.buttons-and-shapes .button-container #button-container__button--4 {
  grid-area: four;
}
.buttons-and-shapes .button-container #button-container__button--5 {
  grid-area: five;
}
.buttons-and-shapes .button-container #button-container__button--6 {
  grid-area: six;
}
.buttons-and-shapes .button-container #button-container__button--7 {
  grid-area: seven;
}
.buttons-and-shapes .button-container #button-container__button--8 {
  grid-area: eight;
}
.buttons-and-shapes .button-container #button-container__button--9 {
  grid-area: nine;
}
.buttons-and-shapes .button-container #button-container__button--plusMinus {
  grid-area: plusMinus;
}
.buttons-and-shapes .button-container #button-container__button--clear {
  grid-area: clr;
}
.buttons-and-shapes .button-container #button-container__button--equals {
  grid-area: equals;
  border-radius: 5px;
  font-size: 2rem;
}
.buttons-and-shapes .button-container #button-container__button--squared {
  grid-area: squared;
}
.buttons-and-shapes .button-container #button-container__button--sqrt {
  grid-area: sqrt;
}
.buttons-and-shapes .button-container #button-container__button--backspace {
  grid-area: backspace;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
}
footer .footer__title {
  color: white;
  font-family: "Dancing Script", sans-serif;
  font-size: min(10vw, 40px);
}
footer .footer__title--light {
  color: rgb(135, 0, 161);
}
footer .footer__light-mode-button {
  min-width: 90px;
  width: 30%;
  max-width: 30%;
  background-color: rgb(53, 50, 50);
  color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 2px solid white;
  font-family: "Tauri", Arial, Helvetica, sans-serif;
  box-shadow: 4px 4px 8px rgba(248, 246, 246, 0.3);
}
footer .footer__light-mode-button--light {
  background-color: rgb(253, 202, 255);
  color: rgb(135, 0, 161);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  body {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons-and-shapes .side-shape {
    display: flex;
    border-top: 200px solid transparent;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .buttons-and-shapes .side-shape--light {
    background-color: rgb(226, 0, 226);
    border-color: rgb(220, 182, 231);
  }
  .buttons-and-shapes .side-shape--1 {
    border-left: min(3 * (100vw - 800px) / 8, 75px) solid rgb(128, 128, 128);
    margin-right: min((100vw - 800px) / 8, 25px);
  }
  .buttons-and-shapes .side-shape--1--light {
    border-left: min(75px, 3 * (100vw - 800px) / 8) solid rgb(226, 0, 226);
  }
  .buttons-and-shapes .side-shape--2 {
    border-right: min(75px, 3 * (100vw - 800px) / 8) solid rgb(128, 128, 128);
    margin-left: min((100vw - 800px) / 8, 25px);
  }
  .buttons-and-shapes .side-shape--2--light {
    border-right: min(75px, 3 * (100vw - 800px) / 8) solid rgb(226, 0, 226);
  }
  .buttons-and-shapes .button-container {
    max-width: 800px;
  }
  .buttons-and-shapes .button-container .button-container__button {
    width: 100%;
    max-width: 100%;
    font-size: 2rem;
  }
  .buttons-and-shapes .button-container #button-container__button--ran {
    font-size: 1.5rem;
  }
  .buttons-and-shapes .button-container #button-container__button--equals {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .buttons-and-shapes .side-shape--1 {
    border-left: 75px solid rgb(128, 128, 128);
    margin-right: 25px;
  }
  .buttons-and-shapes .side-shape--1--light {
    border-left: 75px solid rgb(226, 0, 226);
  }
  .buttons-and-shapes .side-shape--2 {
    border-right: 75px solid rgb(128, 128, 128);
    margin-left: 25px;
  }
  .buttons-and-shapes .side-shape--2--light {
    border-right: 75px solid rgb(226, 0, 226);
  }
  .buttons-and-shapes .button-container {
    max-width: 800px;
  }
  .buttons-and-shapes .button-container .button-container__button {
    width: 100%;
    max-width: 100%;
    font-size: 2rem;
  }
  .buttons-and-shapes .button-container #button-container__button--ran {
    font-size: 1.5rem;
  }
  .buttons-and-shapes .button-container #button-container__button--equals {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */